/* body {
    background: url('/image/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

/* css header */

#header {
    background-color: #fff !important;
}


#body {
    margin-top: 95px;
}

/*Đổ bóng container chứa thanh search*/
.navbar-search {
    --mdb-navbar-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.7), 0 0px 0px rgba(0, 0, 0, 0.05);
}

.input-search {
    width: 450px;
    border-start-start-radius: 100px;
    border-end-start-radius: 100px;
    border-start-end-radius: 0px;
    border-end-end-radius: 0px;
}

#btn-search {
    border-start-start-radius: 0px;
    border-end-start-radius: 0px;
    border-start-end-radius: 100px;
    border-end-end-radius: 100px;

    --mdb-btn-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.35);
    --mdb-btn-hover-box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.15), 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    --mdb-btn-focus-box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.15), 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    --mdb-btn-active-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.15), 0 0px 0px 0 rgba(0, 0, 0, 0.15);
}

/*carousel-caption*/
.img-left {
    left: 0%;
    right: 70%;
    bottom: 0%;
}

.img-center {
    bottom: 10%;
}

.img-right {
    left: 70%;
    right: 0%;
    bottom: 0%;
}



/*--------------------------------------------------------------------------------------------------------------------*/
/*Search*/
.__area {
    font-family: 'Cairo', sans-serif;
    color: #7c7671;
    margin-top: 25px;
    margin-right: 15px;
    z-index: 0;
}

.__card {
    max-width: 425px;
    margin: 15px 0px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    color: unset;

    border-radius: 10px;
    transition: 0.4s;
}

.__card:hover {
    color: unset;
    text-decoration: none;
    transform: scale(0.9, 0.9);
}

.__img {
    border-radius: 10px;
    /* width: 500px;
    height: 300px; */
    width: 400px;
    height: 220px;
}

.__favorit {
    background-color: #fff;
    border-radius: 8px;
    color: #fc9d52;
    position: absolute;
    right: 15px;
    top: 8px;
    padding: 3px 4px;
    font-size: 22px;
    line-height: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
    border: 0;
}

.__favorit:hover {
    background-color: #fc9d52;
    color: #fff;
    text-decoration: none;
}

.__card_detail {
    box-shadow: 0 4px 15px rgba(175, 77, 0, 0.13);
    padding: 13px;
    border-radius: 8px;
    margin: -30px 10px 0;
    position: relative;
    z-index: 2;
    background-color: #fff;
}

.__card_detail h4 {
    color: #474340;
    line-height: 100%;
    font-weight: bold;
}

.__card_detail p {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.__type span {
    background-color: #feefe3;
    padding: 5px 10px 7px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    color: #fc9d52;
    font-weight: bold;
    line-height: 100%;
}

.__detail {
    margin-top: 5px;
}

.__detail i {
    font-size: 21px;
    display: inline-block;
    vertical-align: middle;
}

.__detail i:nth-child(3) {
    margin-left: 15px;
}

.__detail span {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
}



/* --------------------------------------------------------------------------------------------------------------------
/*Navbar*/
.sticky-wrapper {
    position: relative;
    z-index: 100;
    width: 100%;
}

/* .sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
} */

/* .sticky-wrapper .site-navbar {
    background: #fff;
} */

/* .sticky-wrapper .site-navbar .site-logo a {
    color: #fff;
} */
/* 
.sticky-wrapper .site-navbar ul li a {
    color: rgba(255, 255, 255, 0.7) !important;
} */

/* .sticky-wrapper .site-navbar ul li a.active {
    color: #fff !important;
} */

/* .sticky-wrapper.is-sticky .site-navbar {
    background: #fff;
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
} */

/* .sticky-wrapper.is-sticky .site-navbar .site-logo a {
    color: #007bff;
} */

/* .sticky-wrapper.is-sticky .site-navbar ul li a {
    color: #000 !important;
} */


/* .sticky-wrapper.is-sticky .site-navbar ul li a.active {
    color: #007bff !important;
} */

.sticky-wrapper .shrink {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

@media (max-width: 991.98px) {
    .sticky-wrapper .shrink {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
}

.site-navbar {
    margin-bottom: 0px;
    z-index: 1999;
    position: relative;
    width: 100%;
    padding: 1rem;
}

@media (max-width: 991.98px) {
    .site-navbar {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

/* .site-navbar .toggle-button {
    position: absolute;
    right: 0px;
} */

/* .site-navbar .site-logo {
    position: absolute;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height:  0;
    margin: 0;
    padding: 0;
    z-index: 3;
} */

@media (max-width: 991.98px) {
    .site-navbar .site-logo {
        float: left;
        position: relative;
    }
}

.site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid white !important;
}

.site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active {
    color: #007bff !important;
}

.site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    display: inline-block;
}

.site-navbar .site-navigation .site-menu>li {
    display: inline-block;
}

.site-navbar .site-navigation .site-menu>li>a {
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px 0px;
    color: #000 !important;
    display: inline-block;
    text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu>li>a:hover {
    color: #007bff;
}

.site-navbar .site-navigation .site-menu {
    position: relative;
}

.site-navbar .site-navigation .site-menu>a {
    position: relative;
    padding-right: 20px;
}

.site-navbar .site-navigation .site-menu>a:before {
    position: absolute;
    content: "\e313";
    font-size: 16px;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'icomoon';
}

.site-navbar .site-navigation .site-menu .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    position: absolute;
    text-align: left;
    border-top: 2px solid #007bff;
    -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    padding: 0px 0;
    margin-top: 20px;
    margin-left: 0px;
    background: #fff;
    -webkit-transition: 0.2s 0s;
    -o-transition: 0.2s 0s;
    transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .dropdown.arrow-top {
    position: absolute;
}

.site-navbar .site-navigation .site-menu .dropdown.arrow-top:before {
    display: none;
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.site-navbar .site-navigation .site-menu .dropdown.arrow-top:before {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .dropdown a {
    text-transform: none;
    letter-spacing: normal;
    -webkit-transition: 0s all;
    -o-transition: 0s all;
    transition: 0s all;
    color: #000 !important;
}

/* .site-navbar .site-navigation .site-menu .dropdown a.active {
    color: #007bff !important;
    background: #f8f9fa;
} */

.site-navbar .site-navigation .site-menu .dropdown>li {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
}

.site-navbar .site-navigation .site-menu .dropdown>li>a {
    padding: 9px 20px;
    display: block;
}

.site-navbar .site-navigation .site-menu .dropdown>li>a:hover {
    background: #f8f9fa;
    color: #ced4da;
}

.site-navbar .site-navigation .site-menu .dropdown>l>a:before {
    content: "\e315";
    right: 20px;
}

.site-navbar .site-navigation .site-menu .dropdown>l>.dropdown,
.site-navbar .site-navigation .site-menu .dropdown>l>ul {
    left: 100%;
    top: 0;
}

.site-navbar .site-navigation .site-menu .dropdown>l:hover>a,
.site-navbar .site-navigation .site-menu .dropdown>l:active>a,
.site-navbar .site-navigation .site-menu .dropdown>l:focus>a {
    background: #f8f9fa;
    color: #ced4da;
}

/* .site-navbar .site-navigation .site-menu:hover>a,
    .site-navbar .site-navigation .site-menu:focus>a,
    .site-navbar .site-navigation .site-menu:active>a {
        color: #007bff;
    } */

/* 
.site-navbar .site-navigation .site-menu:hover,
.site-navbar .site-navigation .site-menu:focus,
.site-navbar .site-navigation .site-menu:active {
    cursor: pointer;
} */

/* .site-navbar .site-navigation .site-menu:hover>.dropdown,
.site-navbar .site-navigation .site-menu:focus>.dropdown,
.site-navbar .site-navigation .site-menu:active>.dropdown {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: 0px;
    visibility: visible;
    opacity: 1;
}  */

#header .site-navbar ul li a:hover {
    color: green !important;
    opacity: 0.7;
}

.btn-group .home-btn:hover {
    cursor: pointer;
}

.input-group .subscribe-input:focus {
    outline: none !important;
    border-color: none !important;
}

/* ----------------------------------------------------------------------------------------------------- */
/* rating */
body {
    background-color: #eee;
}

div.stars {
    /* width: 300px; */
    display: flex;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 10px;
    font-size: 24px;
    color: green;
    transition: all .2s;
}



input.star:checked~label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked~label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked~label.star:before {
    color: #F62;
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3);
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

/* Side-content */

.side-title .title-text {
    width: 100%;
    text-align: center;
    margin: 10px 0 20px;
    line-height: 0.1em;
    border-bottom: 1px solid #000;
}

.side-title .title-text span {
   background-color: #eee;
   padding: 0 10px;
}

.accordion .accordion-body {
    margin-bottom: 0;
}

.accordion .accordion-body li {
    list-style-type: none;
    margin: 0 0 20px 10px;
}

.accordion .accordion-body li:last-child {
    margin-bottom: 10px;
}

.accordion .accordion-body li a {
    color: #000;
}

.accordion .accordion-body li:hover a {
    color: #386bc0;
}


/* Content */

.content-carousel-title .carousel-title-text {
    width: 100%;
    text-align: left;
    margin: 10px 0 20px;
    line-height: 0.1em;
    border-bottom: 1px solid #000;
}

.content-carousel-title .carousel-title-text span {
   background-color: #eee;
   padding: 0 10px 0 0;
}

