 <div class="service-modal">
                    <div class="modal-container">
                        <div class="modal-header">
                            <div class="modal-title">
                                <h1>TERMS OF SERVICE</h1>
                            </div>
                            <div class="modal-close"><i class="zmdi zmdi-close material-icons-name"></i></div>
                        </div>
    
                        <div class="modal-body">
                            <p class="body-para">
                                Reasons to Use Terms of Service
                                There is no law requiring that websites use a ToS agreement. Having one of these agreements in place, however, is recommended. While websites are not required to have a Terms of Service agreement, they are legally required to have a privacy policy. These policies are meant to protect the sensitive data of users:
                                
                                <pre>
                                Email addresses
                                Names
                                Billing information
                                Shipping addresses
                                </pre> 
                                When users accept a ToS agreement, they are confirming that they will abide by a strict set of regulations while using a service. There are several different names for a ToS agreement:
                                
                                Terms of Use
                                Terms and Conditions
                                Disclaimer
                                One of the main reasons your website needs a ToS is that it can help to prevent abuse. You can use the agreement to outline how users must behave while they are on your service, and if they don't agree to these rules, they will not be able to access your website or service. A ToS agreement also helps you preserve ownership of your content. When you own a website, you own everything on the site that isn't user-generated. This can include your content, logo, and your website's design.
                                
                                In your ToS agreement, you can use language meant to notify your users that you own the content on your site and that unauthorized use of the content constitutes copyright infringement. Clauses related to content ownership are called Intellectual Property clauses.
                                
                                With a ToS agreement in place, you can also reserve the right to terminate user accounts if they violate the agreement. If you include one of these clauses, you should make it clear that abusive users can have their accounts canceled and may also be permanently banned from the service.
                                
                                Termination clauses are most commonly used with web services that require registration. This clause is also used to indicate that you will be monitoring how users behave while using your service.
                                    
                            </p>
                        </div>
    
                        <div class="modal-footer">
    
                        </div>
                    </div>
                </div>