<div id="sticky-wrapper" class="sticky-wrapper" style="height: 95px;">
    <header class="site-navbar js-sticky-header site-navbar-target" role="banner" style="width: 1519.2px;">
        <div class="container">
            <div class="row align-items-center position-relative">
                <div class="site-logo">
                    <a href="#" class="text-black"><span class="text-primary">Team 04</span>
                    </a>
                </div>
                <div class="col-12 offset-0 text-center">
                    <nav class="site-navigation text-right ml-auto" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                            <li><a href="/" class="nav-link">Home</a></li>
                            <li><a href="/signin" class="nav-link">Sign in</a></li>
                            <li><a href="/recipes" class="nav-link">Recipe</a></li>
                            <li><a href="#" class="nav-link">Cart</a></li>
                            <li><a href="#" class="nav-link">About us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>