<div class="col-12">
    <nav class="navbar navbar-search">
        <div class="container-fluid justify-content-center">
            <form class="d-flex" role="search" method="post" action="/">
                <input class="form-control input-search rounded-start border border-end-0" type="search" placeholder="Search"
                    aria-label="Search" name="search" id="search">
                <button id="btn-search" class="btn rounded-end border" type="submit">
                    {{!-- <img src="./images/search.png" width="25px" height="25px"> --}}
                    <i class="zmdi zmdi-search fs-4"></i>
                </button>
            </form>
        </div>
    </nav>
</div>