<div class="col-12 bg-light">
    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                             <a href="#" class="text-black fs-3"><span class="text-primary">Team 04</span></a>
                        </h6>
                        <p>
                            Here you can use rows and columns to organize your footer content. Lorem ipsum
                            dolor sit amet, consectetur adipisicing elit.
                        </p>

                        <div class="fs-4"> 
                            <a href="#" class="me-3">
                                <ion-icon class="text-primary" name="logo-facebook"></ion-icon>
                            </a>
                            <a href="#" class="me-3">
                                <ion-icon class="text-danger" name="logo-youtube"></ion-icon>
                            </a>
                            <a href="#" class="me-3">
                                <ion-icon class="text-info" name="logo-twitter"></ion-icon>
                            </a>
                            <a href="https://github.com/yakhimm/NMCNPM_20" class="me-5" target="_blank">
                                <ion-icon class="text-secondary" name="logo-github"></ion-icon>
                            </a>
                        </div>

                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Công thức
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Món nước</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Món mặn</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Món ngọt</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Món chay</a>
                        </p>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Nguyên liệu
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Thịt</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Cá</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Rau củ</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Đậu</a>
                        </p>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                           Trợ giúp
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Liên hệ</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">FAQ</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Chính sách bảo mật</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Điều khoản dịch vụ</a>
                        </p>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            Đăng ký ngay!
                        </h6>

                        <form class="input-group mb-3" action="/" method="get">
                            <input type="email" class="form-control subscribe-input" placeholder="Nhập vào email của bạn!" aria-label="subscribe form" aria-describedby="button-addon2">
                            <button class="btn btn-dark shadow-none text-white rounded-end" type="submit" id="button-addon2">Gửi</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        {{!-- <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div> --}}
    </footer>
</div>